nav{
    top: 0;
    position: fixed; 
    margin: 0;
    display: flex;
}
h1 {
    margin-top: 90px;
}
ul li {
    list-style: none;
}
ul li a {
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    body {
      background-color: gray;
    }
  }